/* 
    Document   : global
    Created on : Aug 22, 2013, 12:01:17 PM
    Author     : Max
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.container
{
    width: 700px;
    margin: auto;
}

.header
{
    background-color: darkgray;
}

.content
{
    
}

a
{
    margin-right: 10px;
    margin-left: 10px;
}

.product
{
    background-color: dimgray;
    padding: 10px;
    margin: 10px;
}

img
{
    width: 100px
}
